/* Fuente -------------------------------- */

@font-face {
    font-family: nunito-bold;
    src: url(font/Nunito-Bold.ttf);
}

@font-face {
    font-family: nunito-light;
    src: url(font/Nunito-Light.ttf);
}

@font-face {
    font-family: italic-var;
    src: url(font/Nunito-Italic-VariableFont_wght.ttf);
}

/* Fin Fuente ---------------------------- */


/* Selector/estructura --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-caja {
    width: 1300px;
    height: auto;
    border: 2px solid #330033;
}

body {    
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


/* Fin --------------------------------------- */


/*  Logo y Nav ------------------------------- */


.logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 300px;
    height: 52px;
    border-bottom: 2px;
    color: white;
    margin: auto;
    background-image: url(images/malwb.png);
    background-repeat: no-repeat;
    font-size: 0px;

}

.nav-container {  
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   background-color: #330033; 
   margin-bottom: 2px;
}

.nav-container ul {
    display: flex;
    list-style-type: none;
    padding: 30px 30px;
}

.nav-item a {  
    color: white;
    text-align: center;
    padding: 15px 14px;
    text-decoration: none;
    font-family: nunito-bold;
    font-size: 20px;
}

.nav-item:hover {
    background-color: #8a1f8a;
}


/* Fin Logo y Nav ------------------------------ */


/* Portada ------------------------------------- */


.portada-item { 
    display: flex;
    justify-content: center;
    width: 100%;
}


/* Fin Portada --------------------------------- */


/* Main columnas --------------------------------*/


.columnas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px; 
    margin: 20px 20px;
}

.columnas-imagen {
    border-radius: 50%;
}

.columnas-texto {
    font-size: 25px;
    font-family: nunito-bold;
}

.columnas2 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px; 
    gap: 10px;
}

.figc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: italic-var;
    font-size: 30px;

}

.box:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 2s;
}

.titulo-productos {
display: flex;
justify-content: center;
align-items: center;
font-family: nunito-bold;
font-size: 20px;
padding: 30px;
}

.col1 {
    width: 50%;
}

.col2 {
    width: 50%;
}


/* Flechita --------------------------------------*/


.volverainicio-item { /* Boton Flechita*/
    width: 50px;
    margin-right: 10px;
    justify-content: right;
    align-items: center;
}

.posicionflecha {
    display: flex;
    justify-content: right;
    padding-right: 30px;
}

/* Fin flechita -----------------------------------*/


/* Footer -----------------------------------------*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #330033;
    color: white;
    font-size: 11px;
    font-family: nunito-light;
    border-top: 2px;
    height: 40px;
}


/* Fin Footer -------------------------------------*/




/* Contacto -------------------------------------- */

.container-caja-contacto {
    width: 1300px;
    height: auto;
    border: 2px solid #330033; 
}
    
.columnas-contacto {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding: 20px 20px; 
        gap: 40px;
    }

.bckimg {
    background-image: url(images/portada.png);
}


.titulo-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: nunito-bold;
    font-size: 22px;
    padding: 30px;
    }

.data {
        display: flex;
        flex-direction: column;
        font-family: nunito-bold;
        font-size: 20px;
        list-style-type:none;
        text-decoration: none;
        border: #330033 2px dotted;
        padding: 20px;
    }

.bckdata {
    background-color: rgba(255, 255, 255, 0.603);
}

/* Fin Contacto -------------------------------------- */


/* Redes Sociales ---------------------------- */

    .redes-container { 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .redessociales-item {
        display: flex;
        justify-content: space-between;
        gap: 20px; 
    }
    
    .face { 
        width: 85px;
    }
    
    .insta { 
        width: 85px;    
    } 

    /* Fin Redes Sociales ---------------------------- */
